# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
.terraform/

# Ignore any files with .tfvars extension
*.tfvars

# Ignore override files as they are usually used to override resources locally and do not need to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .tfplan files
*.tfplan

# Ignore CLI configuration files
terraform.rc

# Ignore crash log files
crash.log

# Ignore .terraform.lock.hcl file
.terraform.lock.hcl

# Ignore sensitive files containing provider credentials
**/*.tfvars
**/*.private.tfvars
**/*.auto.tfvars

# Ignore .terraform workspace files
terraform.tfstate.d
terraform.tfstate.backup